*{
    width: 100%;
    box-sizing: border-box;
}
body{
    background-image: url("./img/fondoDesktop.jpg");
    width: 100vw;
    height: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 3rem;
    margin: 0%;
}
header{
    display: flex;
}
header img{
    width: 13%;
}
header .menu{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
}
main .upper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3rem;
}
main .upper .left{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
main .upper .left .esperalo{
    width: 80%;
}
main .upper .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
main .upper .right .qr{
    width: 35%;
}
main .upper .right .info{
    width: 60%;
    margin: 1rem;
}
main .upper .right .media{
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 1rem;
}
main .upper .right .media a{
    width: 50%;   
}
main .icons-phone{
    display: none;
}
main .icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    display: block;
    padding: 3rem 0;
    text-align: center;
}
main .icons img{
    width: auto;
    height: 3.1rem;
    margin: 0px 1.3rem;
}
footer{
    width: 40%; 
    display: block;
    margin: auto;
}
@media (max-width: 780px){
    body{
        background-image: url("./img/fondoPhone.jpg");
        width: 100vw;
    }
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header img{
        width: 25%;
    }
    header .menu{
        display: block;
        height: auto;
        width: 12%;
    }
    main{
        margin-top: 10rem;
        padding-bottom: 3rem;
    }
    main .upper{
        flex-direction: column;
        width: 85%;
        padding-bottom: 1rem;
    }
    main .upper .left{
        width: 100%;
        gap: 2rem;
    }
    main .upper .right{
        width: 85%;
        padding: 1rem 1rem;
        margin: 1rem 12rem;
    }
    main .icons{
        display: none;
    }
    main .icons-phone{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    main .icons-phone img{
        width: auto;
        height: 3.1rem;
        margin: 0px 1.3rem;
    }
}